<div class="p-5 mb-4 bg-light rounded-3" *ngIf="employee">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">{{ employee.employeeId }}</h1>
    <h2 class="display-5 fw-bold">
      {{ employee.firstName }} {{ employee.lastName }}
    </h2>
    <h5>Email: {{ employee.email }}</h5>
    <h5>Phone: {{ employee.phoneNumber }}</h5>
    <h5>Hire date: {{ employee.hireDate }}</h5>
    <h5>Position: {{ employee.jobId }}</h5>
    <h5>Salary: ${{ employee.salary }}</h5>
  </div>
</div>
